- include_vars: "secret.yml"

- name: "installs deluge && python-pip"
  apt:
    name={{ item }}
    state=present
    update_cache=true
    cache_valid_time=86400
  with_items:
    - python-pip
    - p7zip-full
    - libsqlite3-dev # needed by flexget
    - deluged
    - deluge-web
    - mkvtoolnix
  notify:
    - restart deluge

- name: "remove broken deluge init script"
  file:
    path="/etc/init.d/deluged"
    state="absent"

- file: path=/mnt/1tb/Torrent state=directory owner=milhouse group=milhouse mode=0755
- file: path=/home/milhouse/.config/deluge state=directory owner=milhouse group=milhouse
- name: "set deluge auth config file"
  copy:
    content="{{ deluge_auth }}\n"
    dest=/var/lib/deluged/config/auth
    mode=0600
    owner=debian-deluged
    group=debian-deluged
  notify:
    - restart deluge

- name: "enable deluged on /etc/default"
  copy:
    content="ENABLE_DELUGED=1"
    dest=/etc/default/deluged
    mode=0600

- name: "set deluge core.conf file"
  template:
    src=core.conf
    dest=/var/lib/deluged/config/authcore.conf
    mode=0600
    owner=debian-deluged
    group=debian-deluged
  notify:
    - restart deluge

- name: "add deluge{-web,d}.service"
  copy:
    src=lib/systemd/system/{{ item }}
    dest=/lib/systemd/system/{{ item }}
  with_items:
    - deluge-web.service
    - deluged.service
  notify:
    - systemd reload
    - restart deluge

- name: "install flexget"
  become: false
  pip:
    name="flexget"
    state="present"

- file: path={{ deluge_autoadd_path }} state=directory owner=milhouse group=milhouse
- file: path="/home/milhouse/.flexget" state=directory owner=milhouse group=milhouse
- name: "copy flexget config"
  template:
    src=flexget-config.yml
    dest=/home/milhouse/.flexget/config.yml
    owner=milhouse
    mode=0600

- name: "setup a cronjob for flexget"
  cron:
    job="/usr/local/bin/flexget --cron execute"
    name="flexget download torrents"
    minute="*/30"
    user="milhouse"
    state="present"

- name: "copy torrent rar extract script"
  template:
    src=rar-torrent-extract
    dest=/usr/local/bin/rar-torrent-extract
    mode=755

- name: "setup a cronjob for file extract"
  cron:
    job="/usr/local/bin/rar-torrent-extract"
    name="extract rar torrents"
    minute="*/30"
    user="plex"
    state="present"

- name: "enable deluged & deluge-web"
  service:
    name="{{ item }}"
    enabled="yes"
    state="started"
  with_items:
    - deluged
    - deluge-web
  notify:
    - systemd reload
