- name: "ssh configuration"
  include_tasks: "ssh.yml"

- name: "config locales"
  locale_gen:
   name: "{{ item }}"
   state: "present"
  with_items:
    - en_US.UTF-8
    - pt_BR.UTF-8

- name: "configures the hostname"
  hostname:
    name={{ server_name }}

- name: "configure timezone"
  include_tasks: "ntp.yml"

- name: "set completion case"
  lineinfile:
    path="/etc/inputrc"
    line="set completion-ignore-case on"
    state="present"

- name: "set default editor"
  copy:
    content="#!/bin/bash\nemacs -nw -Q \"$@\""
    dest=/usr/bin/editor
    mode=0644
