- name: "Desktop setup"
  hosts: 127.0.0.1
  connection: local
  become: yes
  roles:
    - packages
    - apps
    - mimipass
    - code
    - emacs
    - elixir
    - ruby
    - nodejs
    - python
    - docker
    - csharp
    - scala
    - cassandra
    - mongodb
    - langtool
    - postgresql
    - java
    - clojure
